:root{
--azulRey : #1B21AF;
--azul : #094A63;
--verdeCobalto : #1F5E5A;
--terraVerde : #8C9E94;
--azulCeruleo : #6B879F;
--morado :#9F6DB7;
--guinda: #7F1730;
--rojo:#A62532;
--naranja: #A14024;
--dorado:#B4742A;
}


body{
/* background-color: var(--azulRey);
background-image: url(/Imagenes/serpienteBg.svg) ;
background-repeat: no-repeat;
background-size: cover;
height: auto; */
height: 10000px;
background: linear-gradient(to bottom, #1B21AF 10%,#094A63 20%, #1F5E5A 30%,#8C9E94 40%,#6B879F 50%,#9F6DB7 60%,#7F1730 70%,#A62532 80%,#A14024 90%,#B4742A 100%);

}

footer{
display: flex;
align-items: flex-end;
justify-content: center;
padding: 5%;
}

.footer__image{
width: 100px;
display: flex;
margin: auto;
}

.infografia{
    display: flex;
    align-items: flex-start;
      }

.slide1__image{
    width: 40%;
    margin: auto;
    padding: 5%;
}

.slide1__card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0.25rem;
    text-align: center;
    padding-top: 5%;
}

.slide1__icons{
    display: flex; 
    justify-content: space-evenly;
    color: white;
    width: 80%;
    margin: auto;
}

.slide1__biografias{
    display: flex;
}

.slide1__texto{
margin-top: 5%;
}


*{
font-family: 'Raleway', sans-serif;
color: white;
}