@media screen and (max-width: 767px) {
    h5{
        text-align: center; 
        margin: auto; 
        padding: 5%;
    }

.slide2__img{
 padding: 5%;
}
.slide9__img{
    padding-bottom: 5%;
    width: 80%;
}

}
