:root{
	--azulRey : #1B21AF;
	--azul : #094A63;
	--verdeCobalto : #1F5E5A;
	--terraVerde : #8C9E94;
	--azulCeruleo : #6B879F;
	--morado :#9F6DB7;
	--guinda: #7F1730;
	--rojo:#A62532;
	--naranja: #A14024;
	--dorado:#B4742A;
	}
	

* {
	box-sizing: border-box;
}


/* All the snapping stuff */
.scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
	min-height: 100vh;
	scroll-snap-align: center;
	padding: 2rem;
	background-color: var(--azulRey);
}


section:nth-child(2n) {
	/* background-color:  var(--azulRey); */
	background-image: linear-gradient(to bottom, #1B21AF 80% , #094A63 100%);

}


section:nth-child(3n) {
	/* background-color:  var(--azul); */
	background-image: linear-gradient(to bottom, #094A63 80% , #094A63 100%);

}


section:nth-child(4n) {
	/* background-color:  var(--azul); */
	background-image: linear-gradient(to bottom, #094A63 80% , #094A63 100%);

}


section:nth-child(5n) {
	background-color:  var(--azul);
}


section:nth-child(6n) {
	background-color:  var(--azul);
}


section:nth-child(7n) {
	 /* background-color:  var(--azul); */
	 background-image: linear-gradient(to bottom, #094A63 80% , #1F5E5A 100%);
}


section:nth-child(8n) {
	background-image: linear-gradient(to bottom, #1F5E5A 90% , #8C9E94 100%);
	/* background-color:  var(--verdeCobalto); */
}


section:nth-child(9n) {
	/* background-color:  var(--terraVerde); */
	background-image: linear-gradient(to bottom, #8C9E94 80% , #6B879F 100%);
}


section:nth-child(10n) {
	/* background-color:  var(--azulCeruleo); */
	background-image: linear-gradient(to bottom, #6B879F 80% , #9F6DB7 100%);
}


section:nth-child(11n) {
	/* background-color:  var(--morado); */
	background-image: linear-gradient(to bottom, #9F6DB7 80% , #9F6DB7 100%);

}

section:nth-child(12n) {
	/* background-color:  var(--morado); */
	background-image: linear-gradient(to bottom, #9F6DB7 80% , #9F6DB7 100%);

}


section:nth-child(13n) {
	/* background-color:  var(--morado); */
	background-image: linear-gradient(to bottom, #9F6DB7 80% , #9F6DB7 100%);

}


section:nth-child(14n) {
	/* background-color:  var(--morado); */
	background-image: linear-gradient(to bottom, #9F6DB7 80% , #7F1730 100%);
}


section:nth-child(15n) {
	/* background-color:  var(--guinda); */
	background-image: linear-gradient(to bottom, #7F1730 80% , #A62532 100%);

}

section:nth-child(16n) {
	/* background-color:  var(--rojo); */
	background-image: linear-gradient(to bottom, #A62532 80% , #A14024 100%);
}

section:nth-child(17n) {
	/* background-color:  var(--naranja); */
	background-image: linear-gradient(to bottom, #A14024 80% , #B4742A 100%);
}

section:nth-child(18n) {
	/* background-color:  var(--dorado); */
	background-image: linear-gradient(to bottom, #B4742A 80% , #B4742A 100%);
}
section:nth-child(19n) {
	background-image: linear-gradient(to bottom, #B4742A 80% , #B4742A 100%);

}
section:nth-child(20n) {
	background-image: linear-gradient(to bottom, #B4742A 80% , #B4742A 100%);
}
section:nth-child(21n) {
	background-image: linear-gradient(to bottom, #B4742A 80% , #B4742A 100%);
}
