.rotated{
	animation-name: rotation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    transform-origin: 50% 50%;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.container__question{
    display: flex;
    margin: auto;
    padding: 5% 0 5% 0;
}

.container__question_icon{
    display: flex;
    justify-content: center;
}
